Checks: '-*,modernize-*,bugprone-*,performance-*,cppcoreguidelines-*,-cppcoreguidelines-owning-memory'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
AnalyzeTemporaryDtors: false
FormatOnReplacements: true
